<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.snow.csci571hw9">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!--
             The API key for Google Maps-based APIs.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAybjupl4Q8bCvTZUL5RLL1DDkmsx7Ao20" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SearchResultActivity"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".DetailPageActivity"
            android:parentActivityName=".SearchResultActivity"
            android:label="@string/title_activity_detail_page"
            android:theme="@style/AppTheme.NoActionBar"
           >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <!-- Include the host attribute if you want your app to respond
                     only to URLs with your app's domain. -->
                <data android:scheme="http" android:host="www.example.com" />
                <category android:name="android.intent.category.DEFAULT" />
                <!-- The BROWSABLE category is required to get links from web pages. -->
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
    </application>

</manifest>